
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<button>
    @Html.ActionLink("არა აქტიური წიგნები", "InActiveBookList", "User")
</button>

<button>
    @Html.ActionLink("აქტიური წიგნები", "ActiveBookList", "User")
</button>